# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
.svelte-kit
build
dist
.vercel

# Dependencies
node_modules

# Environment
.env
.env.*

# Database
*.db
*.db-shm
*.db-wal
